.app {
  width: 48em;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8em;

  @media screen and (max-width: 768px) {
    width: calc(100% - 4em);
    height: auto;
  }
}
