@keyframes fade-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  $this: &;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(4em);
  margin-bottom: 6em;

  &, &__copied {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.48s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &__copied, &__btn {
    position: absolute;
    top: 2em;
    height: 4em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__copied {
    right: 8em;
    color: #171717;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
  }

  &__btn {
    font-size: 16px;
    right: 2em;
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 4em;
    cursor: pointer;

    img {
      pointer-events: none;
      height: 1.5em;
      width: auto;
      display: block;
    }
  }

  &-photo {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(lightgray, .32);
    margin-bottom: 2em;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.12);
    }
  }

  h1 {
    font-size: 1.5em;
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 0.25em;
  }

  p {
    font-size: 0.75em;
    opacity: 0.48;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  h3 {
    font-weight: 400;
    opacity: 0.64;
    font-size: 1em;
  }

  &-id {
    background-color: #171717;
    color: #fff;
    opacity: 0.8;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    font-size: 1em;
  }

  @media screen and (max-width: 768px) {
    padding-top: 6em;

    #{$this}__btn, #{$this}__copied {
      z-index: 3;
      left: 50%;
      transform: translateX(-50%);
    }

    #{$this}__copied {
      top: 6em;
    }
  }
}
